<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <!--set visible area of a web page-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--bootstrap-->
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
          crossorigin="anonymous">

    <title>Jobs</title>
</head>

<body>
<div class="container">

    <table class="table table-bordered">
        <thead class="thead-dark">
        <tr>
            <th>Name</th>
            <th>Salary</th>
            <th>Business Website</th>
            <th>Job Website</th>
            <th>Date</th>
            <th></th>
            <th></th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="job : ${jobs}">
            <td th:text="${job.name}">Name</td>
            <td th:text="${job.salary}">Salary</td>
            <td th:text="${job.businessWebsite}">Business Website</td>
            <td th:text="${job.jobWebsite}">Job Website</td>
            <td th:text="${job.date}">Date</td>
            <td>
                <form action="#" th:action="@{/tmp/update}" method="POST">

                    <input type="hidden" name="jobId" th:value="${job.id}"/>
                    <button type="submit" class="btn btn-success">Update</button>

                </form>
            </td>
            <td>
                <form action="#" th:action="@{/tmp/delete}" method="POST">

                    <input type="hidden" name="jobId" th:value="${job.id}"/>
                    <button type="submit" class="btn btn-danger">Delete</button>

                </form>
            </td>
        </tr>
        </tbody>

    </table>

    <!--long button-->
    <form action="#" th:action="@{/tmp/new}" method="GET">
        <button type="submit" class="btn btn-primary btn-lg btn-block">Add</button>
    </form>

</div>
</body>
</html>